<html>
<body>
	
<script>
$(document).ready(function() {
	document.getElementById('transButton').addEventListener("click", function() { 	 		document.getElementById('tofadeout').className += ' animated fadeOutLeft';
		document.getElementsByClassName('bkg_image')[0].className = 'front_image animated fadeIn';
		var d = document.getElementById('searchbox_frontpage');
		d.className += ' animated fadeInRight';
		d.style.display = 'block';
	  })
	       
});
</script>

<div class="main">
	<%= image_tag("image1.jpg", :alt => "Map of the World", :height => "525", :width => "1029", :class => "bkg_image") %>
	<div id="tofadeout">
		<h1 class="title animated fadeInRight"> Welcome to Travel Finder! <h1>
			<div class="nonmain">

				<p class="animated fadeIn"> This site focuses on bringing travel options to you with just a simple search from origin to destination. Then refine your search by just typing what you want -- cheapest prices, certain dates, or shortest travel times, etc. and we'll find just that for you! </p>
	
				<h3 class="mainlink animated fadeInUp"> <button id= "transButton" class="start-button pure-button"> Get Started! </button> </h3> 
			</div>
	</div>
	<div class="searchbox" id="searchbox_frontpage">
		<%= form_tag("/maps", method: "get", class: "pure-form pure-form-aligned") do %>
		  	<div class="pure-control-group map-imposed">
				<%= label_tag(:q, "From:") %>
		 	 	<%= text_field_tag(:q) %>
	  		</div>
			<div class="pure-control-group map-imposed">
		 	   	<%= label_tag(:r, "To:") %>
		  	 	<%= text_field_tag(:r) %>
			</div>
			<div class="pure-control-group main-search">
		  	  	<%= submit_tag("Search", class: "search-button pure-button") %>
	  		</div>
		<% end %>
	</div>
</div>

<%= link_to("Quick Map Search", {:controller => "maps", :action => "show" })%>

</body>
</html>